body {
    margin: 0;
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}


.sidebar {
    width: 90px;
    height: 100vh;
    background: #d4147a; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}


.avatar {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    margin-bottom: 10px;
}


.sign-btn {
    border: none;
    background: white;
    color: #d4147a;
    padding: 4px 10px;
    border-radius: 15px;
    font-size: 12px;
    margin-bottom: 15px;
    cursor: pointer;
}

.nav-text {
    color: white;
    font-size: 12px;
    margin: 8px 0;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}


.icon {
    color: white;
    font-size: 22px;
    margin: 10px 0;
    cursor: pointer;
}


.date-box {
    margin-top: auto;
    margin-bottom: 20px;
    width: 40px;
    height: 80px;
    background: white;
    color: #d4147a;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

